/* // 카드 기본값 */
/* .movie-card {
  width: 100%;
  height: 100%;
  background: rgba(43, 41, 41, 0.9);
  opacity: 0;
  transition: all 1s;
  color: white;
  font-weight: bold;
  overflow-wrap: break-word;
} */

/* // 카드 호버시 - 표시 */
/* .movie-card:hover .overlay {
  opacity: 1;
} */

/* // 카드 호버시 - 확장 */
/* .movie-card:hover {
  transform: scale(1.1) translateZ(20px);
 
} */

.movie-card {
  /* padding: 16px; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: all 0.5s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
}

.card:hover .movie-card {
  opacity: 1;
}

.card {
  transition: transform 0.5s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
  z-index: 2;
}
