.pagination {
  display: flex;
  list-style: none;
  justify-content: center;
  /* margin-top: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1rem; */
}

.page-link {
  padding: 8px 16px;
  margin: 5px;
  border-radius: 5px;
  border: 1px solid #ddd;
  /* color: #337ab7;
  color: black; */
  color: #999 !important;
}

.page-item.active .page-link {
  /* background-color: #337ab7; */
  background-color: #f00 !important;
  border-color: #f00 !important;
  color: white !important;
  font-weight: 600;
}

.page-item li {
  background-color: red;
  border-color: red;
}
.page-link:hover {
  background-color: #eee;
}

@media (max-width: 575px) {
  /* .movie-card {
    width: 100%;
    height: auto;
  } */
  /* .carousel-container {
    height: auto;
  } */

  /* .react-multi-carousel-item {
    width: 100%;
    height: auto;
  } */
}
