/* App.css */
/* :root {
  --bs-body-bg: black;
  --bs-body-color: white;
}
body {
  min-height: 100vh;
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: var(--bs-body-bg);
  color: var(--bs-body-color);
} */

/* body {
  background-color: black;
  color: white;
  min-height: 100vh;
  margin: 0; 
  padding: 0;
} */

/* App.css */
body {
  min-height: 100vh;
  height: 100vh;
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: white !important;
  text-align: left;
  background-color: black !important;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-decoration: none;
}

a {
  /* textdecoration: none; */
  color: #fff !important;
}
